# Fire up GraphLab Create

In [2]:
import graphlab

# Load a tabular data set

In [4]:
url = 'http://s3.amazonaws.com/gl-testdata/rating_data_example.csv'

In [5]:
sf = graphlab.SFrame.read_csv(url)

This non-commercial license of GraphLab Create is assigned to wildtroll@gmail.com and will expire on June 21, 2017. For commercial licensing options, visit https://dato.com/buy/.

[INFO] graphlab.cython.cy_server: GraphLab Create v1.10.1 started. Logging: /tmp/graphlab_server_1466903338.log

Downloading http://s3.amazonaws.com/gl-testdata/rating_data_example.csv to /var/tmp/graphlab-sageelliott/4576/a35acf0c-6d08-4444-b714-8ec8c6caa2bc.csv

Finished parsing file http://s3.amazonaws.com/gl-testdata/rating_data_example.csv

Parsing completed. Parsed 100 lines in 0.030139 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file http://s3.amazonaws.com/gl-testdata/rating_data_example.csv

Parsing completed. Parsed 10000 lines in 0.017862 secs.

# SFrame basics

In [10]:
sf # We can view first few lines of table

Columns:
	user_id	int
	movie_id	int
	rating	int

Rows: 10000

Data:
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|  25904  |   1663   |   3    |
|  25907  |   1663   |   3    |
|  25923  |   1663   |   3    |
|  25924  |   1663   |   3    |
|  25928  |   1663   |   2    |
|  25933  |   1663   |   4    |
|  25934  |   1663   |   4    |
|  25935  |   1663   |   4    |
|  25936  |   1663   |   5    |
|  25937  |   1663   |   2    |
+---------+----------+--------+
[10000 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
sf.head() # pretty much same as above. Showing first lines

Columns:
	user_id	int
	movie_id	int
	rating	int

Rows: 10

Data:
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|  25904  |   1663   |   3    |
|  25907  |   1663   |   3    |
|  25923  |   1663   |   3    |
|  25924  |   1663   |   3    |
|  25928  |   1663   |   2    |
|  25933  |   1663   |   4    |
|  25934  |   1663   |   4    |
|  25935  |   1663   |   4    |
|  25936  |   1663   |   5    |
|  25937  |   1663   |   2    |
+---------+----------+--------+
[10 rows x 3 columns]

In [16]:
sf.tail() # shows the last fews lines of dataset

Columns:
	user_id	int
	movie_id	int
	rating	int

Rows: 10

Data:
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|   3423  |   1671   |   4    |
|   3426  |   1671   |   3    |
|   3432  |   1671   |   1    |
|   3437  |   1671   |   5    |
|   3440  |   1671   |   4    |
|   3442  |   1671   |   4    |
|   3443  |   1671   |   3    |
|   3452  |   1671   |   3    |
|   3456  |   1671   |   2    |
|   3457  |   1671   |   2    |
+---------+----------+--------+
[10 rows x 3 columns]